.simple-slider .swiper-slide {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

.cat-img {
  width: 168px;
  height: 224px;
}

.img-wrapper {
  margin: 0 auto;
  display: flex;
}

.logo-img {
  width: 220px;
  height: 120px;
}

#bg-banner-1 {
  background: url("../../assets/img/gallery-1.png");
  background-size: cover;
  height: 400px;
}

.list-unstyled-1 {
  list-style: none;
}

